@model FileManagerModel
@using Syncfusion.EJ2

<div style="width:400px">
    <input name="isNew" value="false" hidden="hidden" />
    <input name="Id" value="@Model.Id" hidden="hidden" />
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Section" value="@Model.Section"/>
                <span class="e-float-line"></span>
                <label asp-for="Section" class="e-float-text e-label-top">Section</label>
                <div class="error-position" id="sectionError"></div>
                <label class="e-error" for="Section" id="Section-info" style="display: none;"></label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Procedure" value="@Model.Procedure"/>
                <span class="e-float-line"></span>
                <label asp-for="Procedure" class="e-float-text e-label-top">Procedure</label>
                <div class="error-position" id="procedureError"></div>
                <label class="e-error" for="Procedure" id="Procedure-info" style="display: none;"></label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Form" value="@Model.Form"/>
                <span class="e-float-line"></span>
                <label asp-for="Form" class="e-float-text e-label-top">Number</label>
                <div class="error-position" id="formError"></div>
                <label class="e-error" for="Form" id="Form-info" style="display: none;"></label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Title"  value="@Model.Title"/>
                <span class="e-float-line"></span>
                <label asp-for="Title" class="e-float-text e-label-top">Title</label>
                <div class="error-position" id="titleError"></div>
                <label class="e-error" for="Title" id="Title-info" style="display: none;"></label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Element" value="@Model.Element"/>
                <span class="e-float-line"></span>
                <label asp-for="Element" class="e-float-text e-label-top">Element</label>
                <div class="error-position" id="elementError"></div>
                <label class="e-error" for="Element" id="Element-info" style="display: none;"></label>
            </div>
        </div>
    </div>
    @{
        var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = "Save" };
    }
    <div class="form-row">
        <div class="form-group col-md-12">
            <br />
            <br />
            <a rel='nofollow' target="_blank" href="/uploads/@Model.URL"> @Model.URL</a>
            <ejs-uploader id="URL" success="onUploadSuccess" asyncSettings="@asyncSettings" multiple="false" autoUpload="true"></ejs-uploader>
            <label class="e-float-text e-label-top">File</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="EksternalUrl" value="@Model.EksternalUrl" />
                <span class="e-float-line"></span>
                <label asp-for="EksternalUrl" class="e-float-text e-label-top">Eksternal URL</label>
                <div class="error-position" id="userError"></div>
                <label class="e-error" for="EksternalUrl" id="EksternalUrl-info" style="display: none;"></label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Work" value="@Model.Work" />
                <span class="e-float-line"></span>
                <label asp-for="Work" class="e-float-text e-label-top">Work</label>
                <div class="error-position" id="userError"></div>
                <label class="e-error" for="Work" id="Work-info" style="display: none;"></label>
            </div>
        </div>
    </div>


</div>


<ejs-scripts></ejs-scripts>